.entity-input-form {
	table-layout: fixed;
	display: grid;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	/*
			defined in 'form-element.jsp' file
		*/
	/*grid-template-columns:  ${"auto ".repeat(entityProperty.formInputColumn)} */
}

.nowrap{
	white-space: nowrap
}

.form-section{
	border: solid 1px gray;
	border-radius: 15px;
}

.option-selected{
	background-color: darkcyan;
	color: white;
	border: solid 2px greenyellow;
	border-radius: 5px;
	font-weight: 2pt;

}

option{
	transition-duration: 300ms;
}

option:hover{
	cursor: pointer;
	background-color: cornflowerblue;
	color:white;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }